*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper h1{
  margin-top: 30px;
  text-align: center;
}
.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  width: 500px;
  height: 340px;
  background-color: rgb(240, 58, 13);
  margin: 20px auto;
  padding: 20px;   
}

.wrapper .form-container .btn{
  width: 100%;   
}

.wrapper .view-container{
  width: 600px;    
  background-color: #1bdf09;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.delete-btn{
  color: red;
  cursor: pointer; 
}
.delete-btn:hover{
  color:white;
  cursor: pointer; 
}

tbody{
  margin-top: 25px;
}